/* ICONS DEVICON */
i{
	font-size: 80%;
	color: white;
}

/* SECTION CONFIGURATION */
#iam{
	text-align: center;
	height: 100vh;
	background-color: aqua;
	display: flex; /* propiedad flexbox */
  	justify-content: center; /* centrar el contenido horizontalmmente */
  	align-items: center; /* centrar el contenido verticalmente*/
}

#aboutme{
	height: 100vh;
	background-color: red;
	display: flex; /* propiedad flexbox */
  	justify-content: center; /* centrar el contenido horizontalmmente */
  	align-items: center; /* centrar el contenido verticalmente*/
}
#projects{
	height: 100vh;
	background-color: blueviolet;
	display: flex; /* propiedad flexbox */
  	justify-content: center; /* centrar el contenido horizontalmmente */
  	align-items: center; /* centrar el contenido verticalmente*/
}
#contactme{
	height: 100vh;
	background-color: yellow;
	display: flex; /* propiedad flexbox */
  	justify-content: center; /* centrar el contenido horizontalmmente */
  	align-items: center; /* centrar el contenido verticalmente*/
}